.task-list {
    margin-top: 1rem;
    margin-left: 2rem;
    padding: 2rem;
    background-color: rgb(158, 175, 129);
    width: 30%;
    border-radius: 5px;
}
.btn {
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(249, 255, 246);
    border: none;
    border-radius: 5px;
}
